@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --max-width: 70%;
  --text-color: black;
  --confirm-color: rgb(50, 205, 50);
  --cancel-color: rgb(255, 55, 55);
}
body {
  background: white;
  min-height: 100vh;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.title {
  text-align: center;
}
main {
  display: flex;
  flex-grow: 1;
}
.left {
  flex: 1;
  background-color: rgba(210, 215, 211, 0.5);
  font-size: 1.5rem;
  min-height: 100%;
  position: relative;
  text-align: center;
  padding-inline: 1em;
}
.right {
  flex: 4;
}
button {
  background: none;
  cursor: pointer;
  border: none;
  display: block;
  font-size: 1.5rem;
  padding: 0.5em 1em;
}
ul {
  list-style-type: none;
}
.plus {
  margin-right: 10px;
}
.confirm,
.cancel {
  font-size: 0.75rem;
  flex: 1;
  font-weight: 700;
  border-radius: 0.25rem;
}
.confirm {
  background-color: var(--confirm-color);
}
.cancel {
  background-color: var(--cancel-color);
}
.error {
  color: red;
  font-size: 0.7rem;
}
.rotate {
  transform: rotate(45deg);
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formButtons {
  margin-top: 0.3rem;
  display: flex;
  gap: 0.25rem;
}
.form {
  display: flex;
  flex-direction: column;
}
.project:hover {
  background-color: white;
  cursor: pointer;
}
#addTask {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 40%;
  background-color: lightgray;
  min-height: 50%;
  padding: 1rem;
  z-index: 1000;
}
.container {
  margin-inline: auto;
  max-width: 300px;
}
.container > div {
  margin-bottom: 1em;
}
input,
select {
  padding: 0.5em 1em;
}
#background {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: lightgray;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border-left: 0.4rem solid;
}
label {
  display: block;
}
.columns {
  display: flex;
}
.columns > * {
  flex: 1;
}
.taskFormInput {
  width: 100%;
}
.task > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.task > div > img {
  cursor: pointer;
}
.Low {
  border-color: green;
}
.Medium {
  border-color: orange;
}
.High {
  border-color: red;
}
.checked {
  background-color: rgba(0, 0, 0, 0.1);
  color: grey;
}
